<div class="bg-success text-light text-center p-2" style="min-height: 100vh; width: 100%;">
    <h5 class="text-warning mb-5 border rounded p-4 shadow"><i class="fa-solid fa-graduation-cap fa-xl"></i> Cookpedia
        Admin</h5>

    <div>
        <a routerLink="/admin" class="text-light text-decoration-none fw-bolder"><i
                class="fa-solid fa-house text-warning me-2"></i> Dashboard</a>
    </div>

    <div class="my-4">
        <a routerLink="/admin/recipe-list" class="text-light text-decoration-none fw-bolder"><i
                class="fa-solid fa-rectangle-list text-warning me-2"></i> Recipe List</a>
    </div>

    <div class="my-4">
        <a routerLink="/admin/user-list" class="text-light text-decoration-none fw-bolder"><i
                class="fa-solid fa-users text-warning me-2"></i> User List</a>
    </div>

    <div class="my-4">
        <a routerLink="/admin/download-list" class="text-light text-decoration-none fw-bolder"><i
                class="fa-solid fa-file-arrow-down text-warning me-2"></i> Download List</a>
    </div>

    <div class="my-4">
        <a routerLink="/admin/request-list" class="text-light text-decoration-none fw-bolder"><i
                class="fa-solid fa-message text-warning me-2"></i> Request List</a>
    </div>
</div>