
<div class="container bg-success">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="d-flex justify-contect-center align-items-start flex-column p-5">
                <h1 class="text-center text-light "><i class="fa-solid fa-graduation-cap mb-5"></i> Cookpedia</h1>
                <h4 class="text-light">Discover 100+ recipies<br> in your hand with the best recipie.<br>Help you to find esiast
                    way to cook.</h4>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 p-5">
            <h1 class="text-light mb-5">Sign up for our news letter</h1>
            <div class="d-flex justify-content-center align-items-center gap-2 mb-3">
                <input type="text" class="form-control" placeholder="enter email">
                <button type="button" class="btn btn-success"><i class="fa-solid fa-arrow-right"></i></button>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-4 d-flex justify-content-start align-items-start flex-column p-2">
                    <h4 class="text-light">Menu</h4>

                    <a routerLink="/" class="text-decoration-none text-light">Home</a>
                    <a routerLink="/recipies" class="text-decoration-none text-light">Recipies</a>
                    <a routerLink="/login" class="text-decoration-none text-light">Login</a>
                    <a routerLink="/register" class="text-decoration-none text-light">Register</a>

                </div>

                <div class="col-sm-12 col-md-4 d-flex justify-content-start align-items-start flex-column p-2">
                    <h4 class="text-light">Help</h4>

                    <a routerLink="/privacy" class="text-decoration-none text-light">privacy &<br>policy</a>
                    <a routerLink="/terms" class="text-decoration-none text-light">Terms of use</a>
                    <a routerLink="/about" class="text-decoration-none text-light">About</a>
                    <a routerLink="/contact" class="text-decoration-none text-light">Contact</a>
                </div>

                <div class="col-sm-12 col-md-4 d-flex justify-content-start align-items-start flex-column p-2">
                    <h4 class="text-light">Social media</h4>

                    <a routerLink="/facebook" class="text-decoration-none text-light">facebook</a>
                    <a routerLink="/instagram" class="text-decoration-none text-light">instagram</a>
                    <a routerLink="/twitter" class="text-decoration-none text-light">twitter</a>
                    <a routerLink="/youtube" class="text-decoration-none text-light">youtube</a>
                </div>
            </div>
        </div>
    </div>
</div>